{% extends 'base.html.twig' %}
{% block body%}
    {{ parent() }}
    <div class="container">
        <button class="empModal btn btn-primary">Edit Employee</button>
        <div id='myModal' class='empModal' style='display: block'>
               <div class='empModal-content' style='width:70%; margin-top:5%'>
                   <span class='close' style='text-align:right'>&times;</span>
                   <p>
                   <div class='empMain' style="display: flex; justify-content: space-evenly">
{#                   {{ dump(['images/', employee.getEmployee().getProfilePic()]|join) }}#}
                   <div style='margin-left:5%;float: left; height: 100%; display: inline-block'>
                   <img id= 'empProfile' height=385  alt='hp' width='300' src="{{ asset(['images/', employee.getEmployee().getProfilePic()]|join) }}">
                   </div>
                   <div class='inside' style='clear: top; height: 100%; width: 60%; display: inline-block; text-align: center; align-items: center;'>
                       {{ form_start(editForm) }}
                       <div style='text-align: left'>
{#                           <p class='id' style='display: none'></p>#}
{#                            {{ dump(employee.getEmployee().getDesignation().getId()) }}#}
                             {% for employees in editForm.employees %}


{#                                  {{ form_label(employees.empName, 'Name') }}#}
                                  {{ form_row(employees.empName, {'label': 'Name', 'attr': {'value' : employee.getEmployee().getEmpName()} }) }}
                                  {{ form_row(employees.department, {'label': 'Department', 'attr': {'value' : employee.getEmployee().getDepartment()} }) }}
                                  {{ form_row(employees.salary, {'label': 'Salary', 'attr': {'value' : employee.getEmployee().getSalary()} }) }}
                                  {{ form_row(employees.designation, {'label': 'Designation', 'attr': {'class' : 'editDesignation' }, value: "" ~ employee.getEmployee().getDesignation().getId() }) }}
                                  {% if(employee.getEmployee().getBoss()) is not null %}
                                  {{ form_row(employees.boss, {'label': 'Boss' , 'attr': {'class' : 'editBoss' }, value: ""~ employee.getEmployee().getBoss().getId()}) }}
                                  {% else %}
                                  {{ form_row(employees.boss, {'label': 'Boss' , 'attr': {'class' : 'editBoss'}})   }}

                                  {% endif %}
                             {% endfor %}
{#                             {{ dump(employee.getEmployee().getProfilePic()) }}#}

                                {{ form_row(editForm.profile, {'label': 'Profile', 'attr': {'class': 'abc'}} ) }}
                                {{ form_row(editForm.email, {'label': 'Email','attr': {'value' : employee.getEmail()} }) }}
                                {{ form_row(editForm.password, {'label': 'Password'}) }}
                       </div>
                       <div class='btn_container' style='height:30%;padding: 30px; clear: both;'>
                           <table class='buttons' style='float:right;table-layout: fixed; width: 70%'>
                               <tr>
                                   <td style='height: 30px;'>
                                       <button type='submit' style=' border-radius:50px; height: 40px; width: 80%; font-size: 20px' class='update_btn btn btn-primary'>Save</button>
                                   </td>
                                   <td style='height: 30px;'>
                                       <button style='border-radius:50px; height: 40px; width: 80%;font-size: 20px' class='editCancel btn btn-danger'>Cancel</button>
                                   </td>
                               </tr>
                           </table>
                       </div>
                       {{ form_end(editForm) }}
                   </div>
               </div>
        <div class="modalContainer"></div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/work.js') }}"></script>
    <script>

        $(document).on("click", ".close", function(e) {
                   window.location.href = '{{ path('admin_showEmployees') }}';
        });
        $(document).on("click", ".editCancel", function(e) {
                    e.preventDefault();
                   window.location.href = '{{ path('admin_showEmployees') }}';
        });


    </script>

{% endblock %}